<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Management Desk</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <style>
        .break {
          word-break: break-all;
        }

        .load-ring {
            display: inline;
            position: absolute;
            width: 54px;
            height: 54px;
            margin-left: 16px;
        }

            .load-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 41px;
                height: 41px;
                border: 6px solid #fa923f;
                border-radius: 50%;
                animation: load-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fa923f transparent transparent transparent;
            }

                .load-ring div:nth-child(1){
                    animation-delay: -0.45s;
                }
                .load-ring div:nth-child(2){
                    animation-delay: -0.3s;
                }
                .load-ring div:nth-child(3){
                    animation-delay: -0.15s;
                }

    @keyframes load-ring{
        0%{
            transform: rotate(0deg);
        }

        0%{
            transform: rotate(360deg);
        }
    }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fluid bg-light">
            <!--Headline-->
            <div class="row py-3 bg-dark">
                <div class="col">
                    <h1 class="display-4 text-center text-light">Blockchain Management Desk</h1>
                    <h2 class="lead text-center text-light">- Node -</h2>
                </div>
            </div>
            <!--Navigation Bar-->
            <div class="row mt-3">
                <div class="col">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase font-weight-bold text-muted active" href="/">Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase font-weight-bold text-dark" href="/network">Network</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Response Labels-->
            <div class="bg-white p-3 border-left border-right">
                <div v-if="error" class="alert alert-danger break" role="alert">
                    {{ error }}
                </div>
                <div v-if="success" class="alert alert-success break" role="alert">
                    {{ success }}
                </div>
            </div>
            <!--Wallet -->
            <div class="bg-white border-left border-right border-bottom rounded-bottom">
                <div class="col mb-3">
                    <div>
                        <h3 class="">Wallet</h3>
                        <hr />
                        <div v-if="!wallet" class="">
                            <div v-if="!walletLoading">
                                <button class="btn btn-primary mr-2 p-2" @click="onCreateWallet">Create New Wallet</button>
                                <button class="btn btn-primary p-2" @click="onLoadWallet">Load Wallet</button>
                            </div>
                            <div v-if="walletLoading">
                                <button class="btn btn-muted mr-2 p-2">Create New Wallet</button>
                                <button class="btn btn-muted p-2">Load Wallet</button>
                                <div class="load-ring">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                         <div v-if="!wallet && !walletLoading" class="row mt-3">
                            <div class="col">
                                <div class="alert alert-info">A Wallet is needed to use the blockchain!</div>
                            </div>
                         </div>
                         <div v-if="wallet" class="">
                             <h3 class="lead pt-3">Funds: {{ funds.toFixed(2) }}</h3>
                         </div>
                    </div>
                </div>
            </div>
            <hr />
            <!--Footer-->
            <div class="row py-3 bg-dark mt-5">
                <div class="col">
                    <p class="lead text-center text-light">Copyright &copy; 2019 Daniel Paulse. <br /> All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!--Content Logic-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>        
        new Vue(
            {
                el: "#app",
                data: {
                    wallet: null,
                    walletLoading: false,
                    error: null,
                    success: null,
                    funds: 20
                },
                computed: {},
                methods: {
                    onCreateWallet: function () {
                        //Send http request to create a new wallet (and return wallet keys)
                        var viewModel = this;
                        this.walletLoading = true;
                        axios.post("/wallet")
                            .then(function (response) {
                                viewModel.error = null;
                                viewModel.funds = response.data.funds;
                                viewModel.success = "Created Wallet Public Key: [" + response.data.public_key + "] Private Key: [" + response.data.private_key + "]";
                                viewModel.wallet = {
                                    public_key: response.data.public_key,
                                    private_key: response.data.private_key
                                };
                            })
                            .catch(function (error) {
                                viewModel.success = null;
                                viewModel.error = error.response.data.message;
                                viewModel.wallet = null;
                            })
                        this.walletLoading = false;
                    },
                    onLoadWallet: function () {
                        // Send Http request to load an existing wallet (from a file on the server)
                        var viewModel = this;
                        this.walletLoading = true;
                        axios.get("/wallet")
                            .then(function (response) {
                                viewModel.error = null;
                                viewModel.funds = response.data.funds;
                                viewModel.success = "Loaded Wallet! Public Key: " + response.data.public_key + " Private Key: " + response.data.private_key;
                                viewModel.wallet = {
                                    public_key: response.data.public_key,
                                    private_key: response.data.private_key
                                };
                            })
                            .catch(function (error) {
                                viewModel.success = null;
                                viewModel.error = error.response.data.message;
                                viewModel.wallet = null;
                            })
                        this.walletLoading = false;
                    }
                }
            }
        )
    </script>
</body>
</html>